<html>
  <head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </head>
  <body>
    <h1 style="text-align: center"> Article listing </h1>
    <div>
      <span style="display:inline-block; width: 10%; color: blue; padding: 15px;">PREVIEW</span>
      <span style="display:inline-block; width: 80%; height:35px; color: blue; padding: 15px; text-overflow: ellipsis; overflow: hidden; white-space: nowrap;">{% for article in articles|slice:":1" %}{{ article.body }}{% endfor %}</span>
    </div>
    <div style="display:inline-block; float:left; width: 20%;">
      <div class="list-group">
	{% for article in articles %}
	<a href="/detail/{{ article.id }}/" class="list-group-item">{{ article.title }}</a>
	{% endfor %}
      </div>
    </div>
    <div style="display:inline-block; width: 70%;">
      <div class="panel panel-default">
	<!-- Default panel contents -->
	<div class="panel-heading">Article enumeration</div>
	<div class="panel-body">
	  <p>Following are the articles present in the system :</p>
	</div>
	<!-- Table -->
	<table class="table">
	  <thead>
	    <tr>
	      <th>#</th>
	      <th>Title</th>
	      <th>Author</th>
	      <th>Category</th>
	      <th>Publication date</th>
	    </tr>
	  </thead>
	  <tbody>
	    {% for article in articles %}
	    <tr>
	      <th scope="row">{{ forloop.counter }}</th>
	      <td>{{ article.title }}</td>
	      <td>{{ article.author }}</td>
	      <td>{{ article.category }}</td>
	      <td>{{ article.pubdate }}</td>
	    </tr>
	    {% endfor %}
	  </tbody>
	</table>
      </div>
    </div>
    <div>
      <div class="panel panel-default">
	<!-- Default panel contents -->
	<div class="panel-heading">What to read next</div>
	<div class="panel-body" style="height:300px;">
	  {% for article in articles|slice:":4" %}
	  <div style="width: 20%; margin-left: 2%; margin-right: 2%; display: inline-block; float:left;">
	    <img style="height: 80%; width: 100%;" src={{ article.hero }} />
	    <div style="height: 20%; text-align:center;">{{ article.title }}</div>
	  </div>
	  {% endfor %}
	</div>
      </div>
    </div>
  </body>
</html>
